:markdown
  Over 25 years of experience in a variety of technology and
  manufacturing industries, including computer manufacturing,
  automotive, telematics, and textile products.  Specific areas of
  expertise include business process management, IT development –
  including agile development and web applications, program and project
  management, technology planning, technology integration, and supply
  chain management.
  
  Selected examples of experience that involve **manufacturing** include:
  
  * Created process maps for domestic electrode
    manufacturing. Implemented improved procedures for operations,
    including an improved traveler system for tracking manufacturing
    processes. Created process maps for internal and outsourced assembly
    manufacturing. Created task groups for harmonizing the assembly
    process in the outsourced manufacturing environment. As a result,
    significantly improved manufacturing processes for mixing, coating,
    calendaring and slitting.
  * Project Manager leading the development of business process maps of
    all U.S. manufacturing for one of the top three U.S. automotive
    companies. The entire order-to-delivery process was detailed and
    validated by veteran employees of the company. The purpose was to
    communicate the extent and complexity of the process across
    organizational silos, align cross-organizational processes and
    educate vendors and consultants. It was used to identify
    opportunities for replacing legacy systems and to develop a software
    migration strategy and estimated cost for future development.
  
  Selected examples of experience that involve **supply chain management and logistics**
  include:
  
  * Project Manager leading a business process analysis of the North
    American Distribution Organization for a Fortune 500 computer
    manufacturing company.  Managed a team of client employees and
    consultants to develop business process maps for logistics processes
    – including carrier appointment scheduling, delivery notification,
    cross-border distribution, returns management, and promotional order
    tracking.
  * Project Manager leading a team of business consultants to analyze
    inventory replenishment policies for a large MidWest
    Retailer. Process related tasks included modeling and simulating the
    business processes associated with inventory management. Specific
    objectives included identifying the appropriate process metrics for
    inventory management, educating the client employees on the dynamics
    of the replenishment algorithms and their interactions with the
    systems, and selection of an optimized replenishment algorithm. New
    process metrics that included hidden costs were identified, data
    sampling methods were altered to improved visibility of inventory
    dynamics, and incentive programs for on-the-floor employees were
    revised as a consequence. An awareness of the total costs allowed
    management to move forward with an understanding that replenishment
    algorithms may have to be modified or replaced as metrics change
    over time – eg. Transportation costs and handling costs.
  * Program Manager leading a multi-disciplinary team from three DOE
    National Laboratories in a collaborative effort with the
    U.S. Integrated Textile Complex – including DuPont, JC Penney, Sara
    Lee, Walmart, Levi, Lands End, LL Bean. Process related tasks
    included mapping the business and operational processes across
    multi-company value chains, including all operations from fiber to
    consumer product. A framework that captured the knowledge was
    designed and developed into a dynamic simulation capability that
    allowed the user to model custom value chain structures, run what-if
    scenarios and predict profitability of decision policies.
  
  
  See the textile industry process maps here: [Textile Industry Process Maps](/industry-process-maps)
  
- content_for :sidebar do
  :markdown
  
    ### Process Experience: ###
    * Industry Level Supply Chain Analysis
    * Production Order Management
    * Order Management
    * Logistics
    