:markdown
  ### EDUCATION AND CREDENTIALS ###
  
  * PhD, Mechanical Engineering : University of Minnesota, Thesis: Qualitative Analysis of Dynamic Systems
  * Master of Science Mechanical Engineering : University of Minnesota, Thesis: A Laser Scanning System for Human Gait Analysis
  * B.A. Math/System Science : University of California, Los Angeles, CA
  * NextGen CEO Program : Forum for Women Entrepreneurs
  * Center for Creative Leadership
  * Stanford Business School Executive Training : eCommerce (speaker and participant)
  
  [Download Resume](http://doctorjanewebsite.s3.amazonaws.com/Jane%20MacfarlaneCV2010.pdf)
              
- content_for :sidebar do
  :markdown
    ### Past Clients/Employers: ###
    
    * **Lithium Ion Battery Production**    
    Imara Corporation  
    * **Grant Writing**  
    Imara Corp, Modular Wind Energy  
    * **Geospatial Applications**  
    Tele Atlas  
    * **Telematics**  
    OnStar  
    * **Automotive Business Process**  
    General Motors  
    * **Business Consulting Services**  
    AT&amp;T  
    * **Knowledge Based Systems**  
    HP Research Labs  
    * **Scientific Software Development**  
    Lawrence Berkeley Lab  
    * **Scientific Software Development**  
    Lawrence Livermore Labs  
