---
title: Thinking is still required.
---

:markdown
  # CONSULTING SERVICES

  Dr. Jane Macfarlane offers an ability to take a top-down view of an
  organization and bridge the gap between the business strategy and the
  core technology. She is an executive with the knowledge and experience
  of working toe-to-toe with the technology, research, and operations
  teams – managing those teams to the strategic goals of the
  corporation. Simply put, she focuses on executing the technical
  strategy of the company.

  Dr. Macfarlane’s three key areas of expertise provide the ability to
  create full solutions that meet the needs of the organization:

  * [Business Process](/business-process) – assuring that the technology supports the
    strategic focus and unites organizational activities

  * [Software and Technology Development](/software-and-technology) – building software systems and
    technology that moves the organization forward and does not limit
    creativity and flexibility

  * [R&D Management](/technology-management) – leading projects and teams to successful
    solutions while building team capabilities and creative thinking

  ![Jane Macfarlane](http://doctorjanewebsite.s3.amazonaws.com/janemacfarlanescaled.jpg)
  Contact Jane at "info at doctorjane dot org".
  
  [Credentials and Resume](/credentials-and-resume)

- content_for :sidebar do
  :markdown

    ### Past Clients/Employers:

    * **Lithium Ion Battery Production**  
      Imara Corporation
    * **Grant Writing**  
      Imara Corp, Modular Wind Energy
    * **Geospatial Applications**  
      Tele Atlas
    * **Telematics**  
      OnStar
    * **Automotive Business Process**  
      General Motors
    * **Business Consulting Services**  
      AT&T
    * **Knowledge Based Systems**  
      HP Research Labs
    * **Scientific Software Development**  
      Lawrence Berkeley Lab
    * **Scientific Software Development**  
      Lawrence Livermore Labs
