:markdown
  Dr. Macfarlane has developed business process maps for automotive
  manufacturing, lithium-ion battery manufacturing, and
  logistics. Client confidential information has been removed and they
  are available for discussion purposes and extensions but not available
  for distribution.
  
  The DOE AMTEX project is in the public domain and therefore all
  industry maps are available for download below. A hard copy brochure
  that details the Men&rsquo;s Cotton Slacks processes is available by
  sending an email request.
  
  ## Textile Industry ##
  
  ![](http://doctorjanewebsite.s3.amazonaws.com/parkascaled.jpg)
  
  [Click here](http://doctorjanewebsite.s3.amazonaws.com/TextileSupplyChainParka.TIFF)
  to download a full size copy of the Nylon Supplex Parka.
  
  ![](http://doctorjanewebsite.s3.amazonaws.com/pantsscaled.jpg)
  
  [Click here](http://doctorjanewebsite.s3.amazonaws.com/TextileSuppyChainPants.GIF) 
  to download a full size copy of the Men&rsquo;s Cotton Slacks.
  
  ![](http://doctorjanewebsite.s3.amazonaws.com/fullbedsheetscaled.jpg)
  
  [Click here](http://doctorjanewebsite.s3.amazonaws.com/TextileSupplyChainBedsheet.GIF) 
  to download a full size copy of the Twin PolyCotton Bedsheet.
  

- content_for :sidebar do
  :markdown
  
    ### Participating Textile Industry Members: 

    * * *
    
    #### Nylon Supplex Parka
    
    * DuPont
    * Malden Mills
    * Cascade West
    * LL Bean
    
    
    * * *
    
    #### Mens Cotton Slacks
    
    * Cotton Industry
    * Milliken Mills
    * Haggar Apparel
    * J.C. Penney
    
    
    * * *
    
    #### Poly Cotton Bedsheet
    
    * Cotton Industry
    * Springs Industries
    * WalMart

