:markdown
  Hello!
  
  Software and Technology Projects developed by Dr. Macfarlane include:
  
  * Cofounder of [JustMyNeighbors.com](http://www.justmyneighbors.com) - a
    community message system that uses geospatial relationships to
    connect neighbors. The intent of the site is to promote community
    communications. It distinguishes itself from standard list servers
    by maintaining a neighborhood concept and keeping personal
    information - such as email addresses - private.

  * Development of Capacity Planning Software that incorporates
    uncertainty in yields and material costs in order to develop a
    full understanding of the financial risk associated with the
    initial startup of manufacturing operations. An example is
    presented for lithium-ion battery manufacturing. Click to download
    a copy of the paper 
    [Risk Analysis in Manufacturing Startup](http://doctorjanewebsite.s3.amazonaws.com/Risk%20Exposure%20in%20Manufacturing%20Startup.pdf)

  * Development of information technology security risk management
    software that incorporates uncertainty in order to provide an
    analysis of the likely bounds on the overall risk exposure for the
    organization.

  * Development of a rule parser to sort, evaluate and analyze
    geospatial relationships. This provided a top-down view of the
    rule set that had previously been managed by excel spreadsheets.

  * Development of a knowledge based system that designs custom
    exercise prescriptions based on testing data.

  * Lead architect in the development of the OnStar telematics
    applications. Patents submitted in the areas of signal processing,
    a smart key with cellular connectivity, and social calendar
    communications via telematics/email integration.

  * Development of a quantitative analysis of replenishment activities
    for a major retailer using dynamic simulation.

  * Co-investigator of a project to model combustion by incorporating
    detailed chemistry into models of turbulent reacting flows. The
    purpose of the project was to examine the interaction of chemistry
    and turbulence in order to reduce pollution production and
    increase the efficiency of the combustion process. This involved
    abstracted modeling schemes for chemical kinetics, automatic code
    generation, qualitative reasoning about chemical dynamics,
    automated model reduction, implementations on parallel machines,
    and data visualization. A high performance computing framework
    solution called POET: Parallel Object-Oriented Environment and
    Toolkit was a result of this effort. This software was patented
    and successfully reused in other projects and domains including
    Genome Sequencing.

  * Principal Investigator for Frameworks for Next-Generation
    Machining and Manufacturing Project. This project was to create a
    future manufacturing information architecture that integrates and
    augments the knowledge and data associated with a product
    description as the product travels through the
    design-to-manufacture cycle.

  * Developed high-level representations for a chemical
    experimentation laboratory information system for supporting
    enzyme kinetics analysis. The system incorporated three aspects of
    the experimentation process: model development, experiment design
    and implementation, and system identification.  Experiments to
    verify the resulting model were performed by robotic laboratory
    equipment.
  
-content_for :sidebar do
  :markdown              
    **Technologies**
    
    * Ruby on Rails
    * Rule Parsing
    * Semantic Analysis
    * Uncertainty Analysis
