:markdown
  Dr. Macfarlane is a multi-faceted leader that enjoys building leading
  edge teams and creative solutions.
  
  Leadership roles include:
  
  * The design of an application for a geospatial company that
    transforms the traditional data acquisition process to include feeds
    from mobile devices and community input via the web.
  
  * Evaluated a core software development effort, using agile
    methodologies. This included examining the business process that the
    software development project was designed to support.
  
  * Executive level responsibility for identifying business models that
    advanced the business strategy for OnStar. Communicated business
    needs to technology vendors to create viable partnerships for future
    development efforts. Represented OnStar through speaking
    engagements.
  
  * Developed next-generation technology plans for OnStar. This involved
    evaluating and integrating a variety of technologies, including:
    ad-hoc networking for mobile network design, voice recognition
    technologies, and web portal integration. Lead architect for all
    projects. Co-authored 8 patents in the areas of signal processing,
    application algorithms, and device design.
  
  * Established the Advanced Technology office in California.  This
    included: opening a new office, recruiting and managing new staff
    members, establishing a high technology image in Silicon Valley, and
    establishing communication processes with corporate
    headquarters.
  
  * Group Leader for the Software Technologies and Applications Group at
    Lawrence Berkeley Laboratory. The group was a multi-disciplinary
    group of 11 research scientists composed of physicists, biochemists,
    computing scientists and engineers.  Responsible for writing
    proposals, directing research efforts and representing and promoting
    research work in design reviews.
  
  * Managed Enterprise Modeling and Simulation Task for the Amtex
    Project.  Responsible for approximately $7 million dollars of
    laboratory effort per year across three national laboratories. Three
    product line investigations were completed that mapped business and
    operational processes across a multi-company value chain, including
    all operations from fiber to consumer product.  Led the design of a
    framework that captured the knowledge gained through the product
    line investigations. Led the design and development of a dynamic
    simulation capability that allowed the user to create custom value
    chain structures and predict profitability of decision policies.
    The vision of this effort was to provide a decision-based framework
    for electronic commerce networks using agent-based
    technology.
  
  * Managed the software development for a system that enables a site
    manager to determine the optimum remediation strategy for
    environmental cleanup.  This interdisciplinary project integrated
    chemical transport, exposure, and biological risk assessment codes
    to determine risk.  An integrated cost model established projected
    costs of the selected remediation enabling the site manager to
    choose the strategy that provides the greatest risk reduction for
    the least cost.
  
-content_for :sidebar do
  :markdown
    **Contact Jane** at 'info at doctorjane dot org'.
  